body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    background-color: bisque;
    max-width: 1200px;
    width: 100%;
}
.card-row {
    display: flex;
}

.hero-container {
    display: flex;
    justify-content: center;
    background-color: chartreuse;
}

.hero-content {
    /* margin: 0 auto; */
    width: 75ch;
}
